:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-background-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --anitation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid yellowgreen; */
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  color: var(--title-text-color);
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0 0 50px 0;
}

.section {
  margin: 94px 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon,
.icon-link,
.link,
.company-icon,
.button,
.hero-button {
  transition: var(--anitation-function);
}

/* Шапка */

.site-header > .main-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  display: flex;
}

.logo-end {
  color: #000000;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  position: relative;
}

.link.active::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav > .item:first-child {
  margin-left: 93px;
}

/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .active,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .button {
  padding: 0;
  margin-right: 10px;
  display: flex;
  color: var(--primary-text-color);
  background-color: #fff;
}

.auth-nav .button-icon {
  fill: currentColor;
}

.auth-nav .link:hover .button,
.auth-nav .link:focus .button {
  color: var(--accent-color);
}

/* Герой */

.site-hero .hero-img {
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  margin: 0 auto 30px auto;
  max-width: 696px;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 0px solid transparent;
  padding: 10px 32px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Особенности */

.section-title.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
}

.feature-list > .item {
  width: calc((1170px - 90px) / 4);
}

.feature-list > .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .icon {
  width: 270px;
  height: 120px;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.feature-list .text {
  margin: 0;
}

/* Наши работы */

.work-list {
  display: flex;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list .work-thumb {
  position: relative;
}

.work-list .work-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding: 27px 0;
}

/* Команда */
.section.background-accent {
  padding: 94px 0px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-list > .item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 30px 0 10px 0;
}

.team-list .text {
  margin: 0 0 16px 0;
}

.team-list .icon-list {
  display: flex;
  margin: 0 32px 30px 32px;
}

.team-list .icon-item:not(:last-child) {
  margin-right: 10px;
}

.team-list .icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
  border-radius: 50%;
  background-color: transparent;
}

.team-list .icon {
  fill: currentColor;
}

.team-list .icon-link:hover .icon,
.team-list .icon-link:focus .icon {
  fill: #fff;
}
.team-list .icon-link:hover,
.team-list .icon-link:focus {
  background-color: var(--accent-color);
}

/* Компании */

.company-list {
  display: flex;
}

.company-list > .item {
  width: 170px;
  height: 90px;
  margin: 0;
  padding: 0;
}
.company-list > .item:not(:last-child) {
  margin-right: 30px;
}

.company-icon:hover > .icon,
.company-icon:focus > .icon {
  fill: var(--accent-color);
}

.company-icon {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
}

.company-icon .icon {
  fill: currentColor;
}

.company-icon:hover,
.company-icon:focus {
  border-color: var(--accent-color);
}

/* Подвал */
.site-footer {
  background: #2f303a;
}

.site-footer > .container {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
}

.site-footer .contact-info{
 width: 231px;
}

.site-footer .logo-end {
  color: #ffffff;
}

.site-footer .link:focus,
.site-footer .link:hover {
  color: var(--accent-color);
}

.site-footer .map {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  display: inline-block;
  margin: 0 0 9px 0;
}

.site-footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.site-footer .contact:not(:last-child) {
  padding: 0 0 9px 0;
}

.site-footer .logo {
  display: inline-block;
  margin: 0 0 20px 0;
}

.site-footer .link {
  display: block;
}

.site-footer .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.site-footer .follow {
  margin-left: 70px;
  display: block;
  }

.follow .icon-list {
  display: flex;
}

.follow .icon-item:not(:last-child) {
  margin-right: 10px;
}

.follow .icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.follow .icon {
  fill: currentColor;
}

.follow .icon-link:hover,
.follow .icon-link:focus {
  background-color: var(--accent-color);
}

/* Footer form */

.site-footer .forms {
  margin-left: 93px;
  padding-top: 12px;
}

.site-footer .contact-info {
  width: 231px;
}

.forms .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  color: #fff;
  cursor: pointer;
}

.footer-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.footer-button::after {
  content: "";

  display: inline-block;
  background-image: url(../img/icon-send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* portfolio.html */

.portfolio-section {
  margin-top: 128px;
  margin-bottom: 60px;
}

.site-header.portfolio-header {
  border-bottom: 1px solid #ececec;
}

/* Фильтр */

.filtr-list {
  margin: 0 0 50px 0;

  display: flex;
  justify-content: center;
}

.filtr-list > .item:not(:last-child) {
  margin-right: 8px;
}

.filtr-list .button {
  cursor: pointer;

  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
}

.filtr-list .button:hover,
.filtr-list .button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Примеры работ */

.example-list {
  margin: -15px;

  display: flex;
  flex-wrap: wrap;
}

.example-list > .item {
  margin: 15px 15px 0 15px;
  width: calc((1170px - 60px) / 3);
  background-color: #ffffff;
}

.example-list > .item:nth-child(-n + 3) {
  margin-top: 0;
}

.example-list .link {
  border: 1px solid #eeeeee;
}

.example-list .link:hover,
.example-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 20px 0 4px 0;
  padding: 0 24px;
}

.example-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;

  margin: 0 0 20px 0;
  padding: 0 24px;
}

.example-list .example-thumb {
  position: relative;
}

.example-list .text-overlay {
  position: absolute;

  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  letter-spacing: 0.03em;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: scaleY(0);
  transform-origin: bottom;

  transition: opacity var(--anitation-function),
    transform var(--anitation-function);
}

.example-list .link:hover .text-overlay,
.example-list .link:focus .text-overlay {
  opacity: 1;
  transform: scaleY(1);
}

/* Модальное окно  */

.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);

  pointer-events: auto;
  opacity: 1;
  visibility: visible;

  transition: pointer-events var(--anitation-function),
    opacity var(--anitation-function), visibility var(--anitation-function);
}

.modal {
  position: absolute;

  display: flex;
  width: 528px;
  height: 581px;
  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop .modal-button {
  position: absolute;

  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--anitation-function);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin: 0 0 12px 0;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.policy-text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--anitation-function);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--anitation-function);
}

.form-input:focus,
.form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color var(--anitation-function);
}

.form-massage:focus,
.form-massage:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.policy-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-text::before {
  content: "";

  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../img/checkbox.jpg);
  margin-right: 7px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  transition: background-image var(--anitation-function);
}

.form-policy:checked + .policy-text::before {
  background-image: url(../img/checkbox-active.jpg);

  transition: background-image var(--anitation-function);
}

.link-policy {
  color: var(--accent-color);
}

.form-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  margin: 0 auto;
}
